@charset "UTF-8";
/* CSS Document */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
	font-family: 'Arimo', sans-serif;
	font-size: 1em;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: #A583FF;
}

p {
	margin: 0;
	padding-bottom: 0;
	padding-top: 10px;
	color: #00F;
	font-family: 'Arimo', sans-serif;
}


/* fLEX
------------------------------------*/

.page {
	display: flex;
	flex-wrap: wrap;
}

.section {
  width: 100%;
  height: 100vh;
  display: flex;
/*  justify-content: center;*/
}


/* SENTICS TITLE
------------------------------------*/
.title {
	width: 20%;
	display: flex;
  align-items: center;
  justify-content: center;
/*	background-color: rgba(0,0,0,0.2);*/
}

.title1 {
	height: 90%;
	
}

.title img:hover {
  cursor: pointer;
}

/* GRAPHIC
------------------------------------*/

.graphic {
	width: 30%;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
}

.gif {
	height: 95%;
	margin: 0;
	padding: 0;
/*	border: thin dashed #fff;*/
}

.gif img {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

/* FORM
------------------------------------*/

.form {
	width: 50%;
	justify-content: center;
	  align-items: center;
/*	background-color: rgba(0,0,0,0.2);*/
}

.form-item {
	width: 100%;
 	display: flex;
}

.form div + div {
  margin-top: 2em;
}

/* form instructions
------------------------------------*/

.instructions1, .instructions2 {
	width: 100%;
	margin: 0 auto;
	font-family: 'Arimo', sans-serif;
	font-weight: 400;
	font-size: 0.9em;
	letter-spacing: 2px;
	text-align: justify;
}

.instructions1 p {
	padding: 0 10px;
}
.instructions2 p {
	padding: 0 10px;
}

button.buttonS {
	height: 25px;
	background-color: rgba(0,0,255,0.41);
	border-color: rgba(0, 0, 255, 0.5);
	color: #A583FF;
	font-family: 'Arimo', sans-serif;
	font-weight: 800;
	letter-spacing: 2px;
}

/* text area
------------------------------------*/
 
textarea {
	font: 'Arimo', sans-serif;
	font-weight: 400;
	font-size: 1.6em;
	color: #00f;
	background: none;
	margin: 0 auto;
	padding: 10px;
	text-align: justify;
	width: 100%;
	height: 25%;
	box-sizing: border-box;
	border: 2px dashed #00f;
}

textarea {
  /* Align multiline text fields with their labels */
  vertical-align: top;
  /* Provide space to type some text */
  height: 10em;
	caret-color: #0F0;
}


/* STROKE SELECT
------------------------------------*/

.check-wrap {
 	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 100%;
	margin: 0 auto;
}

.check-item {
	box-sizing:border-box;
	padding: 0;
	width: 100%;
/*	border: thin dashed #fff;*/
}

img.check-item {
	height: 100%;
	width: 80%;
}

input[type=checkbox] {
    display:none;
}

input#strokeA[type=checkbox] + label
{
    background-image: url("../media/strokeA.png");
	background-repeat: no-repeat;
	background-size:contain;
    height: 100px;
    width: 100%;
	margin-top: 2em;
    display:inline-block;
    padding: 0;
}
input#strokeB[type=checkbox] + label
{
    background-image: url("../media/strokeB.png");
	background-repeat: no-repeat;
	background-size: contain;
    height: 100px;
    width: 100%;
    display:inline-block;
    padding: 0;;
}
input#strokeC[type=checkbox] + label
{
    background-image: url("../media/strokeC.png");
	background-repeat: no-repeat;
	background-size: contain;
    height: 100px;
    width: 100%;
    display:inline-block;
    padding: 0 0 0 0px;
}
input#strokeD[type=checkbox] + label
{
    background-image: url("../media/strokeD.png");
	background-repeat: no-repeat;
	background-size: contain;
    height: 100px;
    width: 100%;
    display:inline-block;
    padding: 0 0 0 0px;
}

input#strokeA[type=checkbox]:checked + label
{
border-color: #00f;
border-style: solid;
display:inline-block;
padding: 0 0 0 0px;
}
input#strokeB[type=checkbox]:checked + label
{
border-color: #00F;
border-style: solid;
display:inline-block;
padding: 0 0 0 0px;
}
input#strokeC[type=checkbox]:checked + label
{
border-color: #00F;
border-style: solid;
display:inline-block;
padding: 0 0 0 0px;
}
input#strokeD[type=checkbox]:checked + label
{
border-color: #00F;
border-style: solid;
display:inline-block;
padding: 0 0 0 0px;
}

input[type=checkbox]:hover input {
  background-color: #ccc;
}

/* Submission button
------------------------------------*/

.submit-button {
	width: 100%;
	margin: 0 auto;
}

.submit-button button {
	width: 100%;
	height: 25px;
	bottom: 5%;
	background-color: rgba(0,0,255,0.41);
	border-color: rgba(0, 0, 255, 0.5);
	color: #A583FF;
	font-family: 'Arimo', sans-serif;
	font-weight: 800;
	letter-spacing: 2px;
}

button:hover {
	background-color: rgba(0,0,255,0.6);
	border-color: rgba(0, 0, 255, 0.7);
}



/* MODAL Sentics
------------------------------------*/

.modal-text {
	font-family: 'Arimo', sans-serif;
	font-weight: normal;
	text-align: justify;
	font-size: 0.8em;
	letter-spacing: 2px;
	border: none;
}

.modalS {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	width: 100vw; /* Full width */
	height: 100vh;
	overflow: auto; /* Enable scroll if needed */
	text-align: center;
	background-color: rgba(87,0,255,0.3);
}

.modalS-content {
    background-color: rgba(0,255,0,1); /* Black w/ opacity */
	border: none;
	padding: 20px;
	width: 300px;
	margin-top: 20%;
	margin-right: 20%;
	float: right;
}


.modalS-content:hover {
  cursor: pointer;
}

/* MODAL Prelude
------------------------------------*/

/* The Modal (background) */
.modalPrelude {
	display: none;
	position: fixed; /* Stay in place */
	z-index: 100; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */ /* Full height */
	height: 100vh;
	overflow: auto; /* Enable scroll if needed */
	text-align:center;
	background-color: rgba(87,0,255,0.3);  Black w/ opacity 
}

.modal-helper {
	#position: absolute;
    #top: 50%;
    display: table-cell;
    vertical-align: middle;
}

/* Modal Content */
.modalPrelude-content {
	padding: 20px;
	#position: relative;
    #top: -50%;
    margin: 0 auto;
	margin-left: 15%;
	width: 400px;
	border: none;
	background-color: rgba(0,255,0,1); /* Black w/ opacity */
}

.modalPrelude-content:hover {
  cursor: pointer;
}

/* SUBMISSION
------------------------------------*/

.submission {
	display: block;
	height: 100%;
	width: 50%;
	position: fixed;
	z-index: 1;
	background-color: #A583FF;
}

.submission-text {
	text-align: center;
	margin-top: 50%;
}

/* LINKS
------------------------------------*/

.link-wrapper {
	position: fixed;
	z-index:1;
	margin:0;
	right: 5%;
	bottom: 5%;
	text-align: right;
}
.links {
	display: inline-block;
}

.links img {
	height: 40px;
}



/* MOBILE Prelude
------------------------------------*/

.mobilePrelude {
	display: none;
	width: 100%; 
	justify-content: center;
	align-content: center;
	text-align:center;
	padding-bottom: 60px;
}

/* Modal Content */
.mobilePrelude-content {
	padding: 20px;
    margin: 0 auto;
	width: 80%;
	font-size: 0.7em;
	border: none;
	background-color: rgba(0,255,0,1); /* Black w/ opacity */
}

/* RESPONSIVE DESIGN
------------------------------------*/

.title2 {
	display: none;
	padding: 15px;
	width: 100%;
	height: auto;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 767px){

	.title, 
	.form, 
	.graphic,
	.section {
		width: 100%;
		height: auto;
	}
	
	.title1 {
		display: none;
	}
	.title2 {
		display: block;
	}
	
	.form {
		padding: 15px 15px 0;
	}
	
	.form div + div {
  margin-top: 1em;
}
	
	.instructions1, .instructions2 {
		font-size: 0.65em;
	}
	
	button.buttonS {
		height: 15px;
	}
	
	textarea {
		font-size: 1.2em;
		height: 220px;
		line-height: 1.3em;
	}
	
	.modalPrelude-content {
		margin-left: 0;
		width: 100%;
		font-size: 0.6em;
	}
	
	.modalS-content {
		font-size: 0.6em;
		margin-left: 5%;
	}
	
	.mobilePrelude {
		display: flex;
	}
		.mobileS {
		display: flex;
	}
	
	.submission {
		width: 100%;
		display: none;
		margin-top: 10%;
		background-color: rgba(0,0,0,0.00);
	}
	.submission-text {
		background-color: #A583FF;
		padding: 10px;
	}
	
	.link-wrapper {
		bottom: 5px;
		right: 5px;
	}
	.links img {
		height: 30px;
	}
	
	
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

		.modalPrelude-content {
		font-size: 0.6em;
	}
	
	.modalS-content {
		font-size: 0.6em;
	}
	
}


